<!DOCTYPE html>
<html>

<head>
  <title>Fake Instagram</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body class="auth">
  <main class="container content-auth">
    <div id="banner">
      <img src="/img/banner-login.png" alt="" srcset="">
    </div>
    <div class="content">
      <form class="form-auth card" action="/login" method="POST">
        <div id="logo">
          <img src="img/logo.png" alt="">
        </div>

        <% if (typeof msg !== 'undefined') { %>
          <h3 style="color: red"><%= msg %></h3>
        <% } %>

        <input id="email" name="email" type="email" placeholder="Email">
        <input id="password" name="password" type="password" placeholder="Password">

        <button type="submit">
          Enter
        </button>
        <div class="register card">
          <p> Don't have an account? <a href="/users"><b>Signup here</b></a> </p>
        </div>
      </form>
    </div>
  </main>
</body>

</html>