<header>
  <div class="container header">
    <div id="logo">
      <a href="/home"><img src="/img/logo.png"></a>
    </div>
    <div class="busca">
      <form>
        <input type="search" class="search" placeholder="buscar usuarios">
      </form>
    </div>
    <nav>
      <a href="/home">
        <img src="/img/icons/home.svg">
      </a>
      <a href="">
        <div class="avatar-content">
          <img class="avatar" src="/img/avatar-example.png">
          <b><%= user.username %></b>
        </div>
      </a>
    </nav>
  </div>
</header>